@model Estoquei.Models.EntradaSaida

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EntradaSaida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.ProdutoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeMovimentação)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeMovimentação)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMovimentacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMovimentacao.TipoMovimentacaoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataMovimentaçãoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataMovimentaçãoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EntradaSaidaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
